<ion-header>
  <ion-toolbar>
    <ion-title>
      Mobile Number Guessing Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (load) ="getNumber()">
  <br><br>
  <ion-label>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      In this game, you will be guessing the value of a randomly selected number (from 1-10).  If correct, you win!  If incorrect, you will be prompted to try again.  Good luck!
  </ion-label>
  <br><br>
  <ion-button (click) ="buttonOne()">1</ion-button>
  <ion-button>2</ion-button>
  <ion-button>3</ion-button><br>
  <ion-button>4</ion-button>
  <ion-button>5</ion-button>
  <ion-button>6</ion-button><br>
  <ion-button>7</ion-button>
  <ion-button>8</ion-button>
  <ion-button>9</ion-button>
</ion-content>
