<ion-header>
  <ion-toolbar>
    <ion-title>
      Mobile Number Guessing Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/numbers.jpg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Welcome</ion-card-subtitle>
        <ion-card-title>Mobile Number Guessing Game</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>In this game, you will be guessing the value of a randomly selected number.  If correct, you win!  If incorrect, you will be prompted to try again.  Good luck!</p>
      </ion-card-content>
    </ion-card>
    <ion-list>
      <ion-item href="http://localhost:8100/tabs/tab2">
        <ion-icon slot="start" color="medium" name="checkmark-circle"></ion-icon>
        <ion-label>Play Game</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
